#usuario {

font-size: 16px !important;
height: 50px !important;

}

.btn-lista-dias {
    height: 48px;
    padding: 20px;
    font-size: 15px;
}

.bg-dias-cerrado {

color: #FFF !important;
background: #d4edda !important;

}

.btn-circle {
    border-radius: 50%; /* Hace el botón circular */
    width: 60px; /* Ajusta el tamaño del botón */
    height: 60px; /* Ajusta el tamaño del botón */
    padding: 0; /* Elimina el padding interno */
    display: flex;
    align-items: center;
    justify-content: center;
}
